<div id="deleteNamespaceModal" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header panel-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    Delete Namespace
                </h4>
            </div>
            <div class="modal-body form-horizontal">
                Deleting Namespace will cause examples to fail to acquire the configuration of this Namespace，are you sure to delete?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                ng-click="doDeleteNamespace()">
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>
