<div class="modal fade" id="mergeAndPublishModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header panel-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Full dose release</h4>
            </div>
            <div class="modal-body">
                Full dose release will combine the configuration of gray version to the main branch and release.
                <br>
                <h5>After the full dose release, would you like to</h5>
                <div class="radio">
                    <label ng-click="toReleaseNamespace.mergeAfterDeleteBranch = 'true'">
                        <input type="radio" name="deleteBranch"
                               ng-checked="!toReleaseNamespace.mergeAfterDeleteBranch ||
                                           toReleaseNamespace.mergeAfterDeleteBranch == 'true'">
                        delete the gray version
                    </label>
                </div>
                <div class="radio">
                    <label ng-click="toReleaseNamespace.mergeAfterDeleteBranch = 'false'">
                        <input type="radio" name="deleteBranch"
                               ng-checked="toReleaseNamespace.mergeAfterDeleteBranch == 'false'">
                        keep the gray version
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        ng-click="showReleaseModal()">
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>
