<header class="row namespace-attribute-panel">
    <div class="text-center namespace-attribute-public">
            <span data-tooltip="tooltip" data-placement="bottom"
                  title="The configuration of private namespace({{namespace.baseInfo.namespaceName}}) could only be read by Clients whose AppId is {{appId}}"
                  ng-show="!namespace.isPublic">Private</span>

            <span data-tooltip="tooltip" data-placement="top"
                  title="The configuration of namespace({{namespace.baseInfo.namespaceName}})could be read by any Client"
                  ng-show="namespace.isPublic && namespace.parentAppId == namespace.baseInfo.appId">Public</span>

            <span data-tooltip="tooltip" data-placement="top"
                  title="The configuration of namespace({{namespace.baseInfo.namespaceName}})will cover that of the public namespace, and the configuration combined could only be read by Clients whose AppId is {{appId}}"
                  ng-show="namespace.isPublic && namespace.isLinkedNamespace"
                  ng-click="goToParentAppConfigPage(namespace)">Relate</span>
    </div>
</header>

<!--branch nav-->
<header class="panel-heading second-panel-heading" ng-show="namespace.hasBranch">
    <div class="row">
        <div class="col-md-8 pull-left">
            <ul class="nav nav-tabs">
                <li role="presentation">
                    <a ng-class="{'node_active': namespace.displayControl.currentOperateBranch == 'master'}"
                       ng-click="switchBranch('master')">
                        <img src="img/branch.png">
                        Major version
                    </a>
                </li>
                <li role="presentation">
                    <a ng-class="{'node_active': namespace.displayControl.currentOperateBranch != 'master'}"
                       ng-click="switchBranch(namespace.branchName)">
                        <img src="img/branch.png">
                        The gray version
                    </a>
                </li>

            </ul>
        </div>
    </div>
</header>
