<div class="modal fade" id="publishDenyModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header panel-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Release limited</h4>
            </div>
            <div class="modal-body">
                You cannot release it~{{env}}. The editting and release of environment configuration require different person, please contact another one with release permission of the current namespace to operate and release~
                <span ng-if="toReleaseNamespace.isEmergencyPublishAllowed">
                    <br><br><small>（If it is during non-working time or encountering special circumstances, please click <mark>Emergent Release</mark> button to release）</small>
                </span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                        ng-if="toReleaseNamespace.isEmergencyPublishAllowed"
                        ng-click="emergencyPublish()">
                    Emergent Release
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
